.backToTop{
    width: 100%;
    text-align: center;
    background-color: rgb(55, 71, 90);
    cursor: pointer;
    transition: background-color .2s;
    margin-top: 25px;
    margin-bottom: 0px;
    }

.backToTop:hover{
    background-color: rgba(55, 71, 90, .8);
}

.backToTop__text{
    font-size: 13px;
    padding: 15px;
    color: white;
    margin-bottom: 0px;
}