.header{
    height: 60px;
    display: flex;
    background-color: #131921;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    margin: 0 20px;
    object-fit: contain;
    /* margin-top: 12px; */
}

.header__logo:hover{
    border:1px solid white;
    padding: 5px;
}

.header__location{
    display: flex;
    direction: row;
    align-items: flex-end;
}

/* .header__location:hover{
    border: 1px solid white;
    padding:5px;
} */

.header__locationIcon{
    color: white;
}

.header__search{
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 24px;
}

.header__searchInput{
    width: 100%;
    height: 12px;
    padding: 10px;
    border: none;
}

.header__searchIcon{
    background-color: #febd69;
    padding: 5px;
    border-radius: 0 4px 4px 0;
    height: 22px !important;
    transition: background-color 3s linear;  /*this transition did not work*/
}

.header__searchIcon:hover{
    background-color:rgb(248, 169, 66);    
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    color: white;
}

/* .header__option:hover{
    border: 1px solid white;
    padding: 5px;
} */


.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    color: white;
    display: flex;
    align-items: center;
}

.header__basketCount{
    margin: 0px 10px;
}